.btn-primary {
  background-image: linear-gradient(var(--gradient));
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--button);
  font: var(--poppins-button);
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-primary:hover {
  background-image: linear-gradient(var(--gradient-hover));
}

@media (max-width: 430px) {
  .btn-primary {
    font-size: 0.875rem;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 30px;
    margin-inline: 118px;
  }
}
