.depoimentos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 80px;
  background-color: var(--primary-color);
  position: relative;
  margin-bottom: 100px;
}

.depoimento-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.depoimento-texto {
  font-family: var(--merriweather);
  font-weight: 900;
  font-style: italic;
  color: var(--button);
  max-width: 32ch;
  font-size: 2.25rem;
  line-height: 1.33;
  margin-bottom: 32px;
  position: relative;
}

.depoimento-texto::before {
  content: "“";
  font-size: 5rem;
  position: absolute;
  left: -50px;
  top: -20px;
  color: #e5a40b;
}
.depoimento-texto::after {
  content: "”";
  font-size: 5rem;
  position: absolute;
  bottom: -70px;
  color: #e5a40b;
}

.depoimento-cliente {
  font-family: var(--poppins);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--content-text-secondary);
  padding-bottom: 100px;
}

.seta {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  color: var(--button);
}

@media (max-width: 430px) {
  .depoimentos-container {
    grid-template-columns: 1fr;
  }

  .depoimento-texto {
    max-width: 32ch;
    font-size: 1.5rem;
    padding-inline: 48px;
  }

  .depoimento-texto::before {
    left: 0px;
    top: -20px;
  }

  .depoimento-cliente {
    font-family: var(--poppins);
    font-size: 1.25rem;
    padding-left: 48px;
    padding-bottom: 100px;
  }

  .seta {
    width: 40px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    color: var(--button);
  }
}
