#footer {
  padding-top: 60px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.logo-footer {
  width: 96px;
  height: 96px;
  object-fit: cover;
  display: block;
}

.contatos-footer {
  justify-self: center;
}

.contatos-footer h2 {
  font: var(--roboto-md);
  margin-bottom: 30px;
}

.contatos-footer p {
  font: var(--roboto-footer);
  margin-bottom: 12px;
}

.footer-links {
  justify-self: end;
}

.footer-links h2 {
  font: var(--roboto-md);
}

.footer-list {
  list-style: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-list li a {
  color: var(--black);
  font: var(--roboto-footer);
}

.direitos-autorais {
  margin-top: 60px;
  background-color: var(--primary-color);
  padding-block: 60px;
  text-align: center;

  p {
    font: var(--poppins-footer);
    margin-top: 12px;
  }
}

@media (max-width: 430px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;
  }
  .logo-footer {
    justify-self: center;
    grid-column: 1/-1;
  }

  .contatos-footer h2 {
    font-size: 1rem;
  }

  .contatos-footer p {
    font-size: 0.75rem;
  }

  .footer-links {
    justify-self: center;
  }

  .footer-links h2 {
    font-size: 1rem;
  }

  .footer-list li a {
    font-size: 0.75rem;
  }

  .direitos-autorais {
    padding-block: 30px;
    p {
      font-size: 0.75rem;
    }
  }
}


