:root {
  --black: #000000;
  --white: #ffffff;

  --primary-color: #ffbf00;
  --button: #332200;

  --content-text: #b3b3b3;
  --content-text-secondary: #664400;

  --gradient: 180deg, #ffbf00, #f2a50c;
  --gradient-hover: 180deg, #ffb60d, #e59317;

  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --merriweather: "Merriweather", serif;

  --poppins-lg: 600 4rem/1.125 var(--poppins);
  --poppins-lg-2: 600 3rem/1.25 var(--poppins);
  --poppins-md: 600 2.25rem/1.33 var(--poppins);
  --poppins-sm: 500 1rem/1.5 var(--poppins);
  --poppins-link: 500 1.125rem/1.33 var(--poppins);
  --poppins-s: 400 1.5rem/1.5 var(--poppins);
  --poppins-button: 700 1.125rem/1.5 var(--poppins);
  --poppins-footer: 700 1.125rem/1.5 var(--poppins);

  --roboto-lg: 500 1.5rem/1.5 var(--roboto);
  --roboto-md: 700 1.5rem/1.5 var(--roboto);
  --roboto-md-list: 400 1.25rem/1.33 var(--roboto);
  --roboto-sm: 400 1rem/1.5 var(--roboto);
  --roboto-s: 400 0.875rem/1.33 var(--roboto);
  --roboto-footer: 600 0.875rem/1.5 var(--roboto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

@media (max-width: 430px) {
  .container {
    max-width: 342px;
    padding: 0 24px;
  }
}
