#perguntas {
  padding-bottom: 60px;
}

.perguntas-titulo {
  font: var(--poppins-lg);
  text-align: center;
  margin-bottom: 60px;
  span {
    color: var(--primary-color);
  }
}
details {
  border-left: 4px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  padding-left: 5px;
  padding-block: 20px;
  cursor: pointer;
}

details:last-child {
  margin-bottom: 100px;
  border-bottom: 0;
}
details[open] {
  position: relative;
  background-color: rgba(231, 231, 149, 0.1);
}

details[open] {
  border-left: 4px solid var(--primary-color);
}

details[open] .seta-perguntas {
  transform: rotate(180deg);
}

summary {
  font: var(--poppins-md);
  font-weight: 400;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

summary::-webkit-details-marker {
  display: none;
}

.seta-perguntas {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

details span {
  background-color: var(--primary-color);
  padding: 12px;
  border-radius: 50%;
}

details p {
  max-width: 960px;
  margin-top: 12px;
  padding-left: 20px;
  font: var(--roboto-md-list);
  color: var(--content-text);
}

@media (max-width: 430px) {
  .perguntas-grid {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .perguntas-titulo {
    font-size: 2rem;
  }

  summary {
    font-size: 0.875rem;
  }

  .seta-perguntas {
    width: 16px;
    height: 16px;
  }

  details span {
    padding: 8px;
  }

  details p {
    font-size: 0.875rem;
  }
}
