#vantagens {
  padding-block: 60px;
  .vantangens-titulo {
    padding-bottom: 60px;
    font: var(--poppins-lg);
    color: var(--black);
    text-align: center;
    span {
      color: var(--primary-color);
    }
  }
}

.container-vantangens-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 60px;

  .vantagens-img img {
    display: block;
    width: 100%;
  }

  .vantagens-intro h2 {
    font: var(--roboto-lg);
    color: var(--primary-color);
    padding-bottom: 20px;
  }

  .vantagens-intro p {
    font: var(--roboto-sm);
    color: var(--black);
    max-width: 460px;
    margin-bottom: 40px;
  }
}

.cards-vantagens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  width: 278px;
  display: block;
  padding: 30px;
  box-shadow: 1px 3px 10px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #ffbf00, #f2a50c);
}

.card-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  img {
    width: 40px;
    height: 40px;
  }
  h2 {
    font: var(--poppins-sm);
  }
}

.lista-vantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  max-width: 180px;
  gap: 15px;
}

.lista-vantagens li {
  font: var(--roboto-s);
}

.lista-vantagens li::marker {
  color: var(--primary-color);
}

@media (max-width: 430px) {
  #vantagens {
    padding-block: 60px;
    .vantangens-titulo {
      font-size: 2rem;
    }
  }

  .container-vantangens-intro {
    grid-template-columns: 1fr;

    .vantagens-img img {
      width: 100%;
    }

    .vantagens-intro p {
      font-size: 0.875rem;
      max-width: 300px;
    }
  }

  #btn-terciary {
    margin-inline: 40px;
  }

  .cards-vantagens {
    gap: 40px;
  }
}
